:root {
        --url-one: url("https://www.quizza.org/static/images/main-1.png");
        --url-two: url("https://www.quizza.org/static/images/main-2.png");
    }
@media (prefers-color-scheme: dark) {
    body {background: #202020!important; }
    :root {
        --url-one: url("https://www.quizza.org/static/images/main-1-dark.png");
        --url-two: url("https://www.quizza.org/static/images/main-2-dark.png");
    }
}
@media (prefers-color-scheme: light) {
    body {background: #FFF!important;}
}