:root {
    --color-text: black!important;
    --color-background: white!important;
    --color-theme: #0fbd9d!important;
    --color-light: #FFF!important;
    --color-light-text: #444!important;
    --color-btn-hover: #bbb!important;
    --bgimage-main: url("https://www.quizza.org/static/images/diag-light.svg")!important;
    --bgimage-home: url("https://www.quizza.org/static/images/diag-theme-light.svg")!important;
    --logo-home: url("https://www.quizza.org/static/images/logo-white.png")!important;
    --logo: url("https://www.quizza.org/static/images/logo-light.png")!important;
    --color-alert: #b8f9ed;
}
@media only screen and (max-width: 600px) {
    #homepage-bgimage-1 {
        background-image: url("https://www.quizza.org/static/images/mobile-1.png");
    }
    .dropdown {
        font-size: 12pt!important;
    }
    #sep {
        text-align:center;
        margin-top:5vh;
        margin-bottom:5vh;
        overflow: auto;
        padding-bottom: 32px!important;
    }
    .dropdown .dropdown-menu {
        position: relative!important;
    }
    #homepage-bgimage-1 {
        height: 20vh; 
    }
}
@media only screen and (min-width: 600px) {
    #homepage-bgimage-1 { 
        background-image: url("https://www.quizza.org/static/images/main-1.png"); 
    }
    #sep {
        margin-top:15vh;
        margin-bottom:20vh;
    }
    #homepage-bgimage-1 {
        height: 40vh; 
    }
}

#sep {
    margin-left:10vw;
    margin-right:10vw;
    border-radius:36px;
    background-color:#0fbd9d;
    color:white;
    padding:8px 32px;
}
#sep table {
    width:100%;
}
.dropdown {
  width: 100%;
  display: inline-block;
  background-color: #fff;
  border-radius: 36px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size:1vw;
  color: #474747;
  height: 100%;
  text-align: left;
  float:right;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 16px
}
.dropdown .select > i {
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 18px 18px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-180deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
}
.dropdown .dropdown-menu li {
    padding: 16px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
#homepage-bgimage-1 {
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: contain;
    margin:auto 5vh;
}
#top-bar {
    box-shadow: 2px 3px 22px 0px #AAA;
}