
#top-bar { z-index: 100; }
@media only screen and (max-width: 600px) {
    #select {
        width: 100%;
    }
    #homepage-bgimage-1 {
        background-image: url("https://www.quizza.org/static/images/mobile-1.png");
        margin-top: 5vh!important;
        height: 30vh;
    }
    #sep {
        text-align:center;
        margin-top:5vh;
        margin-bottom:5vh;
        overflow: auto;
    }
    .dropdown .dropdown-menu {
        position: relative!important;
    }
    body {
        background: #FFF!important;
    }
}
@media only screen and (min-width: 600px) {
    #select {
        width: 20em;
    }
    #homepage-bgimage-1 { 
        background-image: url("https://www.quizza.org/static/images/main-1.png"); 
        margin-top: 10vh!important;
    }
    #sep {
        margin-top:15vh;
        margin-bottom:20vh;
    }
    #homepage-bgimage-1 {
        height: 40vh; 
    }
}
h1 { margin:8px; }
#sep h1 { font-size: 1.5em; }
#sep {
    margin-left:10vw;
    margin-right:10vw;
    border-radius:18px;
    background-color:#0fbd9d;
    color:white;
    padding:20px;
}
#sep table {
    width:100%;
}
#homepage-bgimage-1 {
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: contain;
    margin:auto 5vh;
}
#footer p { color: black; }
#footer a { color: #333!important;  }
select { font-size: 1em; }